BITCOIN_NETWORK=testnet
TRANSPORT_MODE=electrum

ELECTRUM_HOST=testnet.aranguren.org
ELECTRUM_PORT=51002
ELECTRUM_TLS=true
ELECTRUM_REJECT_UNAUTHORIZED=false

BIP157_PEERS=testnet.bitcoin.sipa.be:18333
FILTER_CACHE_PATH=./data/filters

CONFIRMATIONS_REQUIRED=1
PORT=3000
